{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/reservations-form.css') }}">
{% endblock %}

<div class="reservation-form-container">
    <h4 class="rf-title">Réserver un terrain</h4>
    This is my suposedly super form
    {# {{ form(form) }} #}
</div>